extends ../layouts/application.pug

block content  
  +formFor()(action=route('tasks') method='get')
    .form-row
      +searchSelect('status', t('views.tasks.status'), errors, statuses, 'status', [selectedStatus])
      +searchSelect('executor', t('views.tasks.executor'), errors, users, 'user', [selectedExecutor])
      +searchSelect('label', t('views.tasks.label'), errors, labels, 'labels', [selectedLabel])
    .form-check
      if isCreatorUser
        input(id='data_isCreatorUser' class='form-check-input' type='checkbox' name='isCreatorUser' checked="")
      else
        input(id='data_isCreatorUser' class='form-check-input' type='checkbox' name='isCreatorUser')
      label.form-check-label(for='data_isCreatorUser')=t('views.tasks.isCreator')
    +submit(task)(value=t('views.tasks.show'))

  a.nav-link(href=route('newTask'))= t('views.tasks.new.submit')
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
    tbody
      if tasks.length > 0
        each task in tasks
          tr          
            td= task.id
            td
              a.nav-link(href=route('showTask', { id: +`${task.id}`}))= task.name
            td= task.status
            td= task.creator
            td= task.executor
            td= formatDate(task.createdAt)
            td
              a.nav-link(href=route('editTask', { id: +`${task.id}`}))= t('views.tasks.edit.submit')
              +formFor()(action=route('deleteTask', { id: +`${task.id}`}) method='post')
                input(type='hidden' name='_method' value='delete')
                +submit(user)(value=t('views.tasks.delete.submit'))